# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# --- Virtual environments ---
.venv/
.env/
venv/
env/
ENV/

# --- Jupyter/Streamlit ---
.ipynb_checkpoints/
.streamlit/secrets.toml

# --- Environment files ---
.env
.env.*

# --- System ---
.DS_Store
Thumbs.db

# --- Docker ---
*.pid
*.db
*.sock
docker/data/
docker/log/
mosquitto/data/
mosquitto/log/

# --- Project specific ---
telemetry_log.csv

# --- docker ---
42/app/docker/passwd
42/docker/passwd