# .dockerignore (в корне)
.git
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# локальные окружения
.venv/
.env
.env*/

# артефакты/сборка
dist/
build/
*.egg-info/

# большие/временные данные (если не нужны в образе)
app/paths/
app/telemetry_*.csv
app/telemetry_log.csv
app/telemetry_storage.csv
